@font-face {
    font-family: 'B_yekan';
    src: url('font/yekan/Yekan.eot');
    src: url('font/yekan/Yekan.ttf');
    src: url('font/yekan/Yekan.woff');
}

body{
    font-family: 'B_yekan';
    overflow-x: hidden;
}


.chart{
    font-family: 'B_yekan';
    font-size: 20px;
    font-weight: bold;
}

.side-menu li a{
    height: 40px;
}

.side-menu li a{
    line-height: 15px;
}

.img-logo-menu{
    width: 60px;
    height: 60px;
    border: 1px solid #aaa;
    padding: 1px;
    background: #eee;
}